
body, canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: -1;
}

header {
    background: #0a467f;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    z-index: 10;
    position: relative;
    padding: 20px;
    background: #f0f0f0;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
}

#logo {
    max-width: 200px;
}
    